% -*- mode: erlang; -*- vim: set ft=erlang:
[{config, [
    #{ files => ["src/**/*.erl"],
       ruleset => erl_files,
       rules => [{elvis_style, atom_naming_convention, #{
                        ignore => [locus_mmdb,
                                   locus_mmdb_data_codec]
                 }},
                 {elvis_style, dont_repeat_yourself, #{
                        ignore => [locus_mmdb_tree,
                                   locus_util]
                 }},
                 {elvis_style, macro_naming_convention, disable},
                 {elvis_style, no_if_expression, disable},
                 {elvis_style, no_receive_without_timeout, #{
                        ignore => [locus,
                                   locus_database,
                                   locus_mmdb_check,
                                   locus_waiter]
                 }},
                 {elvis_style, no_throw, #{
                        ignore => [locus_custom_fetcher,
                                   locus_mmdb_data_codec,
                                   locus_shared_bitarray]
                 }} ]},
    #{ files => ["test/**/*.erl"],
       ruleset => erl_files,
       rules => [{elvis_style, dont_repeat_yourself, disable},
                 {elvis_style, no_invalid_dynamic_calls, disable},
                 {elvis_style, no_debug_call, disable},
                 {elvis_style, no_nested_try_catch, disable},
                 {elvis_style, no_used_ignored_variables, disable},
                 {elvis_text_style, max_line_length, #{ limit => 100 }}] },
    #{ files => ["rebar.config"],
       ruleset => rebar_config }
]},
{verbose, false}].
