[{elvis, [
    {config, [
        #{ dirs => ["src/**"],
           filter => "*.erl",
           ruleset => erl_files,
           rules => [] },
        #{ dirs => ["test/**"],
           filter => "*.erl",
           ruleset => erl_files,
           rules => [] },
        #{ dirs => ["."],
           filter => "rebar.config",
           ruleset => rebar_config },
        #{ dirs => ["."],
           filter => "elvis.config",
           ruleset => elvis_config }
    ]},
    {verbose, true}
]}].
