%% == Erlang Compiler == %%

{minimum_otp_vsn, "22"}.

{erl_opts, [
    debug_info,
    warn_export_vars,
    warn_missing_spec,
    warn_unused_import,
    warnings_as_errors
]}.

{erl_first_files, [
    "src/locus_event_subscriber.erl"
]}.

%% == Dependencies and plugins ==

{deps, [
    {tls_certificate_check, "~> 1.7"}
]}.

{project_plugins, [
    {rebar3_hex, "6.11.6"},
    {rebar3_lint, "0.5.0"}
]}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [
        error_handling,
	race_conditions,
        underspecs,
        unknown,
        unmatched_returns
    ]}
]}.

%% == Xref ==

{xref_checks, [
    deprecated_function_calls,
    exports_not_used,
    locals_not_used,
    undefined_function_calls
]}.

%% == Profiles ==

{profiles, [
    {escriptize, [
        {erl_opts, [{d, 'ESCRIPTIZING'}]},
        {deps, [
            {getopt, "1.0.2"}
        ]},
        {escript_name, "locus"},
        {escript_incl_apps, [getopt]},
        {escript_emu_args, "%%! +sbtu +A0 -noinput\n"}
    ]},

    {shell, [
        {erl_opts, [
            nowarn_missing_spec,
            nowarnings_as_errors
        ]},
        {deps, [
            {recon, "2.5.2"}
        ]},
        {shell, [
            {apps, [locus]},
            {config, "shell.config"}
        ]}
    ]},

    {test, [
        {erl_opts, [
            debug_info,
            nowarn_export_all,
            nowarn_missing_spec,
            nowarnings_as_errors
        ]},
        {deps, [
            {jsx, "3.1.0"},
            {maxmind_test_data, {raw, {git, "https://github.com/maxmind/MaxMind-DB.git", {ref, "a3f1daa"}}}}
        ]},
        {plugins, [
            {rebar_raw_resource, "0.10.0"}
        ]},
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.

%% == EDoc ==

{edoc_opts, [
    {stylesheet_file, "doc/custom_stylesheet.css"}
]}.
