{cover_enabled, true}.

{erl_opts,
 [%{i, "src"},
  %bin_opt_info,
  warn_export_all,
  warn_export_vars,
  warn_missing_spec,
  warn_obsolete_guards,
  warn_shadow_vars,
  warn_unused_import,
  warnings_as_errors,
  {platform_define, "^17.4", 'BAD_HTTPC'},
  {platform_define, "^1[89]", 'POST_OTP_17'},
  {platform_define, "^[2-9]", 'POST_OTP_17'},
  {platform_define, "^19", 'POST_OTP_18'},
  {platform_define, "^[2-9]", 'POST_OTP_18'},
  {platform_define, "^1[78]", 'NO_GEN_STATEM'},
  {platform_define, "^19.[0-2]", 'NO_GEN_STATEM'}
 ]}.

{plugins, [rebar3_hex]}.

{minimum_otp_vsn, "17.4"}.

{erl_first_files,
 ["src/locus_gen_statem_compat.erl",
  "src/locus_event_subscriber.erl"
 ]}.

{dialyzer,
 [{plt_include_all_deps, true},
  {warnings,
   [unmatched_returns,
    error_handling,
    race_conditions,
    underspecs
   ]}
 ]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  exports_not_used,
  deprecated_function_calls,
  deprecated_functions
 ]}.

{profiles,
 [{development,
   [{erl_opts,
     [nowarn_missing_spec,
      nowarnings_as_errors]}
   ]},

  {test,
   [{erl_opts,
     [debug_info,
      nowarn_export_all,
      nowarn_missing_spec,
      nowarnings_as_errors]}
   ]},

  {travis_test,
   [{erl_opts,
     [debug_info,
      nowarn_export_all,
      nowarn_missing_spec,
      nowarnings_as_errors,
      {d, 'RUNNING_ON_TRAVIS'}]}
   ]}
 ]}.
